.game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
  justify-content: center;
}
